/* assets/css/registrar_empleado.css */
.btn-primary {
    background-color: #122B5A;
    border-color: #122B5A;
}

.btn-primary:hover {
    background-color: #0d2044;
    border-color: #0d2044;
}

.card{
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 25px;
}
